body{
    background-color:lightgray;    
}
#sectionI{
    padding:20px;
    border-radius: 10px;
    text-align: center;
    gap: 5px;
    display:flex; 
    justify-content: center;
    align-items: center;
   
}
#div1,#div2,#div3,#div4,#div5,#div6{
    height: 540px;
    width:400px;
}
.button{
    background-color: skyblue;
    color:black;
    /* padding: 10px 20px; */
    border:none;
}
#sectionII{
    padding:5px;
    border-radius: 10px,0;
    text-align: center;
    gap:5px;
    display:flex; 
    justify-content: center;
    align-items: center;
}

.img{
    height:425px;
    width:400px; 
    border-radius: 10px; 
}
.img2{
    height:425px;
    width:400px;
    border-radius: 10px; 
}
h2{
    margin:10px;
}
p{
    margin:10px;
    color:#777
}

 .background{ 
    background-color: #fff;
    border-radius: 10px;
 }